# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
*.env

# API keys and secrets
*token*
*secret*
*key*

# OS
.DS_Store
Thumbs.db
